<div  [style.backgroundImage]="'url('+ imagSource +')' " class="container">
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
    style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div style="margin-top: 25px;" class="container">

  <div class="row">

  </div>
  <div class="row">
    <div class="col" *ngFor="let employee of employees">

      <mat-card class="example-card" style="width: 300px;margin-top: 10px;color:rgb(15, 34, 199) ;">
        <mat-card-header>
          <mat-card-title>employee's name : {{employee.FullName}}</mat-card-title>
          <mat-card-subtitle>employee's phone number : {{employee.phoneNumber }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            <mat-list role="list">
              <mat-list-item role="listitem">City : {{employee.city }}</mat-list-item>
              <mat-list-item role="listitem">gener : {{employee.gener }}</mat-list-item>
              <mat-list-item role="listitem">Wilaya : {{employee.wilaya }}</mat-list-item>
              <mat-list-item role="listitem">The Offred job : {{employee.job }}</mat-list-item>
              <mat-list-item role="listitem">employee's Adress : {{employee.adress }}</mat-list-item>
              <mat-list-item role="listitem">studied at : {{employee.school }}</mat-list-item>
              <mat-list-item role="listitem">employee's age : {{employee.age }}</mat-list-item>
              <mat-list-item role="listitem">employee's study level : {{employee.degree }}</mat-list-item>
              <mat-list-item role="listitem">employee's former Company Name : {{employee.companyName }}</mat-list-item>

            </mat-list>
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-stroked-button color="primary">Contact {{employee.FullName}} !</button>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>

  <footer style="padding-top: 5%;">

  </footer>

</div>
